.main-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 48px 16px;
    color: white;
}

.basmallah{
    text-align: end;
}

.button-container {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

button {
    width: 150px;
    padding: 16px 8px;
    background: white;
    border-radius: 10px;
}