.main-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 48px 16px;
    color: white;
}

.basmallah {
    position: absolute;
    right: 16px;
    top: 48px;
}

h1 {
    margin-top: 32px;
    margin-left: 16px;
}

#quizStandard {
    min-height: 60vh;
    max-height: 60vh;
}

.question-footer {
    position: absolute;
    bottom: 32px;
    span {
        padding-right: 16px;
    }
}

.quizEnded {
    display: flex;
    flex-direction: column;
}

#next-button {

    margin-right: 32px;
}

.dialog-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}